# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles.
/log/
/tmp/
/coverage

/spec/reports/*
/public/system/*


# Ignore local Rubymine settings
.idea/

# Ignore macos specific files
.DS_Store

# Ignore environment-specific config
.env*

# Ignore local database settings
config/database.yml

# Ignore docker-compose for now
docker-compose.yml